<form action="" class="mdl-grid">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--6-col">
        <input class="mdl-textfield__input" type="text" id="doc-title" {{#document}}value="{{title}}"{{/document}}/>
        <label class="mdl-textfield__label" for="doc-title">Title</label>
    </div>

    <div class="mdl-cell mdl-cell--12-col">
        <div id="toolbar">
          <button id="save-button" class="mdl-button mdl-js-button mdl-button--icon">
            <i class="material-icons">save</i>
          </button>
          <button id="delete-button" class="mdl-button mdl-js-button mdl-button--icon">
              <i class="material-icons">delete</i>
          </button>
          <span class="spacer"></span>
          <select title="Font" class="ql-font">
            <option data-value="sans-serif" selected>Sans Serif</option>
            <option data-value="serif">Serif</option>
            <option data-value="monospace">Monospace</option>
          </select>
          <select title="Size" class="ql-size">
            <option data-value="10px">Small</option>
            <option data-value="12px" selected>Normal</option>
            <option data-value="18px">Large</option>
            <option data-value="32px">Huge</option>
          </select>
          <span class="spacer"></span>
          <button class="ql-bold mdl-button mdl-js-button mdl-button--icon">B</button>
          <button class="ql-italic mdl-button mdl-js-button mdl-button--icon"><i>I</i></button>
          <button class="ql-underline mdl-button mdl-js-button mdl-button--icon"><u>U</u></button>
          <button class="ql-strike mdl-button mdl-js-button mdl-button--icon"><s>S</s></span>
        </div>
        
        <!-- Create the editor container -->
        <div id="doc-content" class="editor"></div>
    </div>
</form>
<button id="done-button" class="br-corner mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
  <i class="material-icons">done</i>
</button>