<div class="mdl-grid vfill">
    <div id="document-map" class="mdl-cell mdl-cell--12-col vfill">
        <img src="/static/img/loader.gif" class="loading"/>
    </div>
</div>
<button id="add-document-fab" class="br-corner mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
  <i class="material-icons">add</i>
</button>