<div class="small-doc" data-badge="{{alerts}}">
    <a href="{{link}}"><span class="link-overlay"></span></a>
    <div class="{{#noAlerts}}small-doc-corner{{/noAlerts}}{{^noAlerts}}alert-indicator{{/noAlerts}}">{{alerts}}</div>
    {{slug}}
</div>