.white-text {
    color: #FFF !important;
}

.vfill {
    height: 100% !important;
}

.center-content {
    text-align: center;
}

.center-child {
    margin-left: auto;
    margin-right: auto;
}

img.loading {
  margin: 25% 40%;
}

line {
  stroke: #000;
  stroke-width: 1.5px;
}

a.active {
  background-color: rgb(100,255,218); /* mdl-teal */
}

.small-doc {
  background-color: #FFF;
  color: #000;
  border: 1px solid #558abb;
  border-radius: 0 8px 0 0;
  padding: 5px;
  height: 100%;
}

.small-doc > .small-doc-corner {
  height: 8px; 
  width: 8px; 
  position: fixed; 
  top: 0px; 
  right: 0px; 
  border-left: 1px solid #558abb; 
  border-bottom: 1px solid #558abb;
  color: rgba(0, 0, 0, 0);
}

.alert-indicator {
  position: fixed; 
  top: -5px; 
  right: -5px; 
  color: #FFF;
  background-color: red;
  text-align: center;
  vertical-align: middle;
  font-size: 1em;
  border-radius: 1.5em;
  padding: .1em .4em;
  font-weight: bold;
}

.link-overlay {
  position:fixed; 
  width:100%;
  height:100%;
  top:0;
  left: 0;

  z-index: 1;
}

.editor {
  border-left: 1px solid rgb(100,255,218); /* mdl-teal */
  box-shadow: 3px 3px 8px rgba(0,0,0,.25);
}

.spacer {
  margin: 0 1em;
  border-left: 1px solid rgba(0,0,0,.12);
}

select {
  border: none;
  background-color: #FFF;
  box-shadow: 1px 1px 3px rgba(0,0,0,.25);
}

.br-corner {
  position: absolute;
  right: 50px;
  bottom: 50px;
}

.relationships-top {
  position: relative;
  top: 0px;
}

.relationships-bottom {
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.mdl-menu__item--full-bleed-divider-top {
  border-top: 1px solid rgba(0,0,0,.12);
}

.mdl-menu__item > a {
  height: 100%;
  width: 100%;
}

.added-text {
  background-color: #32CD32; /* light green */
}

.removed-text {
  background-color: red;
}

.pull-right {
  float: right;
}

.related {
  width: 250px;
  vertical-align: middle;
}

.related > span {
  display: inline-block;
  width: 90%;
}

.delete-relation {
  width: 10%;
}