<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>DDDocs, by A Little Brighter Software, LLC</title>
    <!-- Add to homescreen for Chrome on Android 
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="images/android-desktop.png">

    <!-- Add to homescreen for Safari on iOS 
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="DDDocs">

    <!-- Tile icon for Win8 (144x144 + tile color)
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">
    -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.grey-teal.min.css" />
    <link rel="stylesheet" href="static/css/custom.css" />
    <script src="https://code.getmdl.io/1.1.3/material.min.js"></script>

    <script src="static/js/app/main.js"></script>
</head>
<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header mdl-color--grey-300">
            <div class="mdl-layout__header-row">
                <!-- Title -->
                <img src="static/img/logo_segmented.png" alt="DDDocs" style="max-height:100%;max-width:100%;" />
                <!-- Navigation. We hide it in small screens. -->
                <nav class="mdl-navigation mdl-layout--large-screen-only">
                    <a class="mdl-navigation__link" href="#/">
                        <i class="material-icons">explore</i>&nbsp;Map
                    </a>
                    <a class="mdl-navigation__link" href="#/documents">
                        <i class="material-icons">create</i>&nbsp;Create/Edit
                    </a>
                </nav>
                <!-- Add spacer, to align navigation to the right -->
                <div class="mdl-layout-spacer"></div>
                <button id="account-actions" class="mdl-button mdl-js-button mdl-js-ripple-effect">
                    {{fullName}}
                </button>
            </div>
        </header>
        <div class="mdl-layout__drawer">
            <img src="static/img/logo_segmented.png" alt="DDDocs" style="max-height:100%;max-width:100%;" />
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link mdl-color-text--grey-800" href="#/">
                    <i class="material-icons">explore</i>&nbsp;Map
                </a>
                <a class="mdl-navigation__link mdl-color-text--grey-800" href="#/documents">
                    <i class="material-icons">create</i>&nbsp;Create/Edit
                </a>
            </nav>
        </div>
        <main class="mdl-layout__content vfill">
            <div id="page-content" class="vfill">
            </div>
        </main>
    </div>
    <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" for="account-actions">
        <li disabled class="mdl-menu__item"><i class="material-icons">account_circle</i>&nbsp;Account</li>
        <li class="mdl-menu__item"><i class="material-icons">exit_to_app</i>&nbsp;Logout</li>
    </ul>
</body>
</html>
