<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>DDDocs, by A Little Brighter Software, LLC</title>
    <!-- Add to homescreen for Chrome on Android 
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="images/android-desktop.png">

    <!-- Add to homescreen for Safari on iOS 
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="DDDocs">

    <!-- Tile icon for Win8 (144x144 + tile color)
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">
    -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.grey-teal.min.css" />
    <link rel="stylesheet" href="static/css/custom.css" />
    <script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>
</head>

<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header mdl-color--grey-300">
            <div class="mdl-layout__header-row">
                <!-- Title -->
                <img src="static/img/logo_segmented.png" alt="DDDocs" style="max-height:100%;max-width:100%;" />
                <!-- Add spacer, to align navigation to the right -->
                <div class="mdl-layout-spacer"></div>
                <!-- Navigation. We hide it in small screens. -->
                <nav class="mdl-navigation mdl-layout--large-screen-only">
                    <!--<a class="mdl-navigation__link" href="#register">Register</a>-->
                </nav>
            </div>
        </header>
        <div class="mdl-layout__drawer">
            <img src="static/img/logo_segmented.png" alt="DDDocs" style="max-height:100%;max-width:100%;" />
            <nav class="mdl-navigation">
                <!--<a class="mdl-navigation__link" href="#register">Register</a>-->
            </nav>
        </div>
        <main class="mdl-layout__content">
            <h1 class="center-content">Registration</h1>
            <div class="page-content mdl-grid">
                {{#user}}
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-offset mdl-cell--4-col">
                    <input class="mdl-textfield__input" type="text" id="emailAddress" value="{{EmailAddress}}" disabled>
                    <label class="mdl-textfield__label" for="emailAddress">Email Address</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-offset mdl-cell--4-col">
                    <input class="mdl-textfield__input" type="text" id="fullName" value="{{FullName}}">
                    <label class="mdl-textfield__label" for="fullName">Full Name</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-offset mdl-cell--4-col">
                    <input class="mdl-textfield__input" type="text" id="firstName" value="{{FirstName}}">
                    <label class="mdl-textfield__label" for="fullName">How should we refer to you?</label>
                </div>
                {{/user}}
                {{#password}}
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-offset mdl-cell--4-col">
                    <input class="mdl-textfield__input" type="password" id="password">
                    <label class="mdl-textfield__label" for="password">Password</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-offset mdl-cell--4-col">
                    <input class="mdl-textfield__input" type="password" id="confirmPassword">
                    <label class="mdl-textfield__label" for="confirmPassword">Confirm Password</label>
                </div>
                {{/password}}
                <button id="send-registration" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-cell mdl-cell--5-offset mdl-cell--2-col">
                    Register
                </button>
                <div id="progress-bar" style="display:none;" class="mdl-progress mdl-js-progress mdl-progress__indeterminate mdl-cell mdl-cell--5-offset mdl-cell--2-col"></div>
            </div>
        </main>
    </div>
    <script type="text/javascript">
        pBar = document.querySelector("#progress-bar");

        document.querySelector("#send-registration").addEventListener("click", function(e) {
            pBar.style.display = "block";

            httpRequest = new XMLHttpRequest();
            httpRequest.onreadystatechange = function(){
                if (httpRequest.readyState === XMLHttpRequest.DONE) {
                    pBar.style.display = "none";

                    console.log(httpRequest.responseText)

                    if (httpRequest.status < 300) {

                    }
                }
            };

            httpRequest.open("POST", "/register", true);
            httpRequest.setRequestHeader("Content-Type", "application/json");

            httpRequest.send(JSON.stringify({
                id: "{{Id}}",
                emailAddress: document.querySelector("#emailAddress").value,
                fullName: document.querySelector("#fullName").value,
                firstName: document.querySelector("#firstName").value
            }));            
        })
    </script>
</body>

</html>
